@keyframes wave {
  0% {
    transform: translate3d(-100%, 0, 0)
  }
  100% {
    transform: translate3d(100%, 0, 0)
  }
}
@keyframes flicker {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

.noui-backyard {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.noui-backyard.flicker {
  animation: flicker 1s linear infinite;
}
.noui-backyard.wave {
  animation: wave 1s linear infinite;
}