@keyframes skeleton-wave {
  0% {
    transform: translate3d(-100%, 0, 0)
  }
  100% {
    transform: translate3d(100%, 0, 0)
  }
}
@keyframes skeleton-flicker {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

.no-ui__skeleton {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.no-ui__skeleton-backyard {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.no-ui__skeleton-backyard.flicker {
  animation: skeleton-flicker 1s linear infinite;
}
.no-ui__skeleton-backyard.wave {
  animation: skeleton-wave 1s linear infinite;
}