@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate3d(0, 3px, 0);
  } 100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

body > .no-ui__popper {
  position: fixed;
  z-index: 2000;
  animation: fadeIn .2s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
}

