@keyframes popper-fadeIn {
  0% {
    opacity: 0;
    transform: translate3d(0, 3px, 0);
  } 100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.no-ui__popper {
  position: fixed;
  z-index: 1000;
  animation: popper-fadeIn .2s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
}

